/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Account_Relationship__c]
      ,[AccountId]
      ,[ActivelyEvaluating__c]
      ,[Add_On_Type__c]
      ,[Age__c]
      ,[Agreement_Count__c]
      ,[Amount]
      ,[Announcement__c]
      ,[Approval_Status__c]
      ,[APTS_Create_Quote_Proposal__c]
      ,[Apttus_Proposal__Discount_Percent__c]
      ,[Are_you_working_with_an_approved_budget__c]
      ,[Authority__c]
      ,[AVPForm__c]
      ,[Ballpark_Figure_Quoted__c]
      ,[BANT_Score__c]
      ,[BDE__c]
      ,[Benefits_Total__c]
      ,[Budget__c]
      ,[Business_Pain__c]
      ,[Campaign_Influence__c]
      ,[CampaignId]
      ,[Clients_Decision_Driver__c]
      ,[Clock_Options__c]
      ,[Clock_Purchase__c]
      ,[Clock_Rental__c]
      ,[Clocks__c]
      ,[Close_Comments__c]
      ,[Close_Day__c]
      ,[Close_Opportunity__c]
      ,[Close_Reasons__c]
      ,[CloseComments_SubField__c]
      ,[Closed_Won_Pending_ReviewResource_Links__c]
      ,[Closed_Won_Resource_Links__c]
      ,[CloseDate]
      ,[Compelling_Event__c]
      ,[Competitor_Product__c]
      ,[Contracting_Resource_Links__c]
      ,[Contracts_Validation__c]
      ,[Created_from_Lead__c]
      ,[CreatedById]
      ,[CreatedDate]
      ,[CurrencyIsoCode]
      ,[Customer_Objectives_Count__c]
      ,[Customer_Status__c]
      ,[Data_Conversion_Total__c]
      ,[Dayforce_Go__c]
      ,[Dayforce_Go_Eligible__c]
      ,[Dayforce_Gross_ACV__c]
      ,[Dayforce_Gross_plus_Managed_Gross__c]
      ,[Dayforce_Net_Amount__c]
      ,[Days_from_Close_to_Start_DEPRECATED__c]
      ,[Days_Since_Last_Activity__c]
      ,[ddc_prospector__Sourced_from_Data_com_del__c]
      ,[Description]
      ,[Early_Term_Penalty_Pct__c]
      ,[EE_Count__c]
      ,[Estimated_EE_Count__c]
      ,[Executive_Review__c]
      ,[Expected_Start_Date_DEPRECATED__c]
      ,[Extra_Incentive__c]
      ,[Field_History__c]
      ,[Find_an_Asset__c]
      ,[Fiscal]
      ,[Fiscal_Period__c]
      ,[FiscalQuarter]
      ,[FiscalYear]
      ,[ForecastCategory]
      ,[ForecastCategoryName]
      ,[Franchise_Alert_DEPRECATED__c]
      ,[Further_Information__c]
      ,[Global_Category__c]
      ,[Global_IPS__c]
      ,[Global_Opportunities__c]
      ,[Global_Solutions_Consultant_1__c]
      ,[Global_Solutions_Consultant_2__c]
      ,[Gross_ACV__c]
      ,[HasDayforce__c]
      ,[HasLifeworks__c]
      ,[HasOpportunityLineItem]
      ,[Id]
      ,[Impl_In_Complex_States__c]
      ,[Impl_Number_of_States__c]
      ,[Impl_Payroll_Frequency__c]
      ,[Implementation_Cancelled_Date__c]
      ,[Implementation_Hours__c]
      ,[Implementation_Live_Date__c]
      ,[Implementation_Segment__c]
      ,[Implementation_Status__c]
      ,[Implementation_Support__c]
      ,[Implementation_Total__c]
      ,[Industry__c]
      ,[InPipeline__c]
      ,[IPS_Details_Count__c]
      ,[IsClosed]
      ,[IsDeleted]
      ,[IsExcludedFromTerritory2Filter]
      ,[IsFinalizing__c]
      ,[IsSplit]
      ,[IsWon]
      ,[jsImpacts__Added_from_Data_com__c]
      ,[Last_Activity_Year__c]
      ,[Last_Modified_Amount_Date__c]
      ,[Last_Modified_Close_Date__c]
      ,[Last_Modified_Forecast_Date__c]
      ,[Last_Modified_Stage_Date__c]
      ,[LastActivityDate]
      ,[LastModifiedById]
      ,[LastModifiedDate]
      ,[LastReferencedDate]
      ,[LastViewedDate]
      ,[LDR__c]
      ,[LDR_User__c]
      ,[LeadSource]
      ,[Level_Of_Authority__c]
      ,[LID__LinkedIn_Company_Id__c]
      ,[Lifeworks_Total__c]
      ,[Lock_Record__c]
      ,[Lost_To__c]
      ,[Managed_Gross__c]
      ,[Market_Segment_Offering__c]
      ,[Mid_Quarter_Eligible__c]
      ,[Migration_Internal_Review_Meeting__c]
      ,[Migration_Scorecard_Footprint__c]
      ,[Migration_Scorecard_Footprint_Completion__c]
      ,[Migration_Source__c]
      ,[Must_Win__c]
      ,[MyMove_MyFit_Complexity_Total_Points__c]
      ,[NAICS__c]
      ,[Name]
      ,[Need__c]
      ,[NetSuite_ID__c]
      ,[Next_Step_Last_Modified_Date__c]
      ,[NextStep]
      ,[NoContactRoleFlag__c]
      ,[Nominate_Win_Loss__c]
      ,[Number_of_Contacts_Roles_Assigned__c]
      ,[One_Time_Total__c]
      ,[Opp_Owner_AVP_at_Close__c]
      ,[Opp_Owner_Country_At_Close__c]
      ,[Opp_Owner_Department__c]
      ,[Opp_Owner_Department_At_Close__c]
      ,[Opp_Owner_Division__c]
      ,[Opp_Owner_Division_At_Close__c]
      ,[Opp_Owner_Manager_at_Close__c]
      ,[Opp_Owner_Manager_ID__c]
      ,[Opp_Owner_Role_at_Close__c]
      ,[OppCount__c]
      ,[Opportunity__c]
      ,[Opportunity_Alert__c]
      ,[Opportunity_Alert_Graphic__c]
      ,[Opportunity_Ext_ID__c]
      ,[Opportunity_ID_18_Char__c]
      ,[Opportunity_Owner_Country_Reporting_Only__c]
      ,[Opportunity_Splits__c]
      ,[OpportunityCount__c]
      ,[Oracle_Contract_Number__c]
      ,[Other_CEN_Total__c]
      ,[Owner_Country__c]
      ,[Owner_Country_Div__c]
      ,[Owner_Dept__c]
      ,[Owner_Div__c]
      ,[Owner_Role__c]
      ,[OwnerId]
      ,[Parent_Opportunity__c]
      ,[Partner_Code__c]
      ,[Payroll__c]
      ,[Payroll_IDs__c]
      ,[PayrollCount__c]
      ,[Pivotal_Activity_History__c]
      ,[Policy_Number__c]
      ,[PPF_Total__c]
      ,[Predict_Amount_Curr_Mo__c]
      ,[Price_Based_or_Value_Based_decision__c]
      ,[Pricebook2Id]
      ,[Primary_Agreement2__c]
      ,[Primary_Contact_Assigned__c]
      ,[Primary_Product_Interest__c]
      ,[Probability]
      ,[Product_Information__c]
      ,[Product_Revenue__c]
      ,[ProductCount__c]
      ,[Proposal_Count__c]
      ,[Proposing_Resource_Links__c]
      ,[Prospecting_Resource_Links__c]
      ,[PushCount__c]
      ,[Qualifying_Resource_Links__c]
      ,[RecordTypeId]
      ,[Recurring_PEPM__c]
      ,[Recurring_Total__c]
      ,[Reference_Status__c]
      ,[Referral__c]
      ,[Referral_Submit_Date__c]
      ,[Referred_By__c]
      ,[ReferredByEmail__c]
      ,[Referring_Partner__c]
      ,[Request_a_Reference__c]
      ,[Request_Implementation_Start__c]
      ,[RFP_Down_Selected__c]
      ,[RFP_Finalist__c]
      ,[RPO_AmountFirstChangedDate__c]
      ,[RPO_Close_Date_Changed__c]
      ,[RPO_Opp_Owner_Manager__c]
      ,[RPO_Opportunity_Duration__c]
      ,[RPO_Owner_Country__c]
      ,[Running_User__c]
      ,[SC_RFP_Count_for_Finalist__c]
      ,[SC_RFP_Rollup_Count__c]
      ,[Send_a_Spotlight__c]
      ,[Services_Revenue__c]
      ,[Solution_Building_Resource_Links__c]
      ,[Solution_Consultant_1__c]
      ,[Solution_Consultant_2__c]
      ,[Source_Type__c]
      ,[Stage_0_1_Change_Date__c]
      ,[Stage_0_Duration__c]
      ,[Stage_1_2_Change_Date__c]
      ,[Stage_1_Duration__c]
      ,[Stage_2_3_Change_Date__c]
      ,[Stage_2_Duration__c]
      ,[Stage_3_4_Change_Date__c]
      ,[Stage_3_Duration__c]
      ,[Stage_4_5_Change_Date__c]
      ,[Stage_4_Duration__c]
      ,[Stage_5_6_Change_Date__c]
      ,[Stage_5_Duration__c]
      ,[Stage_6_7_Change_Date__c]
      ,[Stage_6_Duration__c]
      ,[Stage_7_Duration__c]
      ,[Stage_Comments__c]
      ,[StageName]
      ,[SuccessPortal__c]
      ,[SystemModstamp]
      ,[Targeted_B__c]
      ,[Targeted_Opportunity__c]
      ,[Tax_Total__c]
      ,[Term_Months__c]
      ,[Territory2Id]
      ,[TH_Lee__c]
      ,[Third_Party_Consultant__c]
      ,[Tier_1_Total__c]
      ,[Tier_2_Total__c]
      ,[Timeline_for_decision__c]
      ,[Timing__c]
      ,[Total_CEN__c]
      ,[Total_Commissionable_ACV__c]
      ,[Total_Number_Of_Employees__c]
      ,[Training_Total__c]
      ,[Transnational__c]
      ,[Type]
      ,[UK_DOM_Amount__c]
      ,[UK_IPS_Amount__c]
      ,[Updated_via_Action__c]
      ,[User_Profile__c]
      ,[Win_Rate_Lost__c]
      ,[Win_Rate_Lost_Exclude__c]
      ,[Win_Rate_Lost_SC1__c]
      ,[Win_Rate_Lost_SC2__c]
      ,[Win_Rate_Won__c]
      ,[Win_Rate_Won_SC1__c]
      ,[Win_Rate_Won_SC2__c]
      ,[Writing_Number__c]
      ,[Year_Created__c]
  FROM [SFDCReplicaDB].[dbo].[opportunity]


  Select 
  	opps.[Year_Created__c],
	opps.[StageName],

	COUNT([StageName]) as StageNameCount
    FROM [SFDCReplicaDB].[dbo].[opportunity] as opps
	WHERE YEAR(CloseDate) > 2013 
	GROUP BY [Year_Created__c],[StageName]
	ORDER BY [Year_Created__c],StageNameCount desc

	
  Select 
	opp.[StageName],
	--opps.[CreatedDate]
	COUNT([StageName]) as StageNameCount

 FROM [SFDCReplicaDB].[dbo].[opportunity] as opp
  WHERE YEAR(CloseDate) > 2013 
		--and Close_Reasons__c not like 'Duplicate Opportunity' 
		and DATEDIFF(d,CreatedDate,CloseDate) > 1 
		--and 		(opp.[Type] = 'New Sale' or opp.[Type] = 'Migration')
		and (opp.Primary_Product_Interest__c = 'Payroll' or opp.Primary_Product_Interest__c = 'Dayforce HCM Payroll' or opp.Primary_Product_Interest__c = 'Dayforce Workforce Management'
			or opp.Primary_Product_Interest__c = 'Managed Payroll Solutions'  or opp.Primary_Product_Interest__c = 'International Payroll Solutions')
		AND StageName not like 'Closed Lost'
		AND StageName not like 'Closed Won'

GROUP BY [StageName]
  order by      StageNameCount--, [CreatedDate
  
  
